#!/bin/bash

{{ rcu_executable }} -silent -{{ rcu_action }} -databaseType {{ rcu_db_type }} -connectString {{ rcu_hostname }}:{{ rcu_port }}:{{ rcu_service }} -dbUser {{ rcu_db_user }} {% if rcu_db_as %} -dbRole {{ rcu_db_role }}  {% endif %} -schemaPrefix {{ rcu_prefix }} {% for component in rcu_components %} -component {{ component }} {% endfor %}  < {{ rcu_password_file }}
